.my-table .header-style {
    max-width: 300px !important;
    overflow: hidden !important;
}
.my-table .text-style {
    max-width: 500px !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
	white-space: nowrap !important;

    min-width: auto !important;
    text-align: center !important;
    justify-content: center;
}