.slider-link-button {
    width: 100%;
    padding: 10px 15px;
    text-align: center;

    cursor: pointer;

    transition: all 0.2s ease;

    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--gov-accesibility-card);
    background-color: var(--light-gray-color);

    color: var(--text-color);
}
.slider-link-button:hover {
    border-bottom: 2px solid var(--gov-accesibility-card);
    background-color: var(--gov-accesibility-card);

    color: var(--white-to-black-color);
}

.slider-link-button p {
    width: 100%;
    text-align: center;
    color: var(--text-color);

    white-space: nowrap;
}
.slider-link-button:hover p {
    color: var(--white);
}